.card-container-inside {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  justify-content: safe;
  border: gray 5px solid;
  padding: 10px;
  margin: 10px;
  min-height: 520px;
  position: relative;
  aspect-ratio: 1.5;
  border-radius: 10px 10px 10px 10px;
  

  .img-background {
    width: 100%;
    height: 80%;
    background-color: gray;
    border-radius: 10px 10px 10px 10px;
  }

  p {
    padding: 5px;
  }

  hr {
    width: 100%;
  }

  img {
    max-width: 25vw;
    max-height: 20vh;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .card-info-inside {
    text-align: center;
    text-transform: capitalize;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .types-poke {
      display: flex;
    }

    .types-poke > :nth-child(2)::before {
      content: "/";
      padding-right: 15px;
    }
  }

  .card-info-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .stat-num {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;

      span {
        text-transform: capitalize;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .span-title {
        font-weight: 600;
      }
    }
  }

  .button-card-cry {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    button {
      padding: 10px 15px 10px 15px;
      border: none;
      font-weight: 600;
    }

    button:hover {
      transform: scale(1.1);
    }

    a {
      padding: 10px 15px 10px 15px;
      border: none;
      font-weight: 600;
      background-color: rgb(241, 241, 241);
    }

    a:hover {
      transform: scale(1.1);
    }
  }
}

@media (width < 560px) {
  .card-container-inside {
    width: 70vw;
  }
}

@media (width >799px) {
  .card-container-inside {
    width: 20vw;
  }
}

.pokeball-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fff 50%, #f00 50%);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: spin 1s linear infinite;
  box-shadow: inset -2px 0 0 2px black;
}

.pokeball-loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: black;
  transform: translateY(-50%);
}

.pokeball-loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid black;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Normal */
.bg-normal {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/normal.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-normal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-normal > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(243, 243, 243)); 
}

/* Fuego */
.bg-fire {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/fire.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-fire::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-fire > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 1, 1)); 
}

/* Agua */
.bg-water {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/water.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-water::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-water > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(1, 69, 255)); 
}

/* Eléctrico */
.bg-electric {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/electric.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-electric::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-electric > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 251, 1)); 
}

.bg-grass {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/grass.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-grass::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-grass > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(1, 255, 1)); 
}

/* Hielo */
.bg-ice {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/ice.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-ice::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-ice > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(1, 255, 242)); 
}

/* Lucha */
.bg-fighting {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/fighting.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-fighting::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-fighting > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 136, 0)); 
}

/* Veneno */
.bg-poison {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/poison2.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-poison::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-poison > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 136, 0)); 
}
/* Tierra */
.bg-ground {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/ground.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-ground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-ground > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(145, 143, 141)); 
}

/* Volador */
.bg-flying {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/flying.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-flying::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-flying > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 255, 255)); 
}

/* Psíquico */
.bg-psychic {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/psychic.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-psychic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-psychic > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(189, 47, 255)); 
}
/* Bicho */
.bg-bug {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/bug.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-bug::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-bug > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(123, 255, 0)); 
}
/* Roca */
.bg-rock {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/rock.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-rock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-rock > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(255, 255, 255)); 
}

/* Fantasma */
.bg-ghost {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/ghost.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-ghost::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-ghost > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(95, 95, 95)); 
}

/* Dragón */
.bg-dragon {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/dragon.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-dragon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-dragon > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(0, 255, 242)); 
}

/* Siniestro */
.bg-dark {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/dark.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(19, 19, 19, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-dark > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(126, 126, 126)); 
}
/* Acero */
.bg-steel {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/steel.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-steel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-steel > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(209, 209, 209)); 
}

/* Hada */
.bg-fairy {
    position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a .bg-grass */
    background: url("/fairy.gif");
    background-size: cover;
    object-fit: cover;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.bg-fairy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite que los eventos de clic pasen a los elementos hijos */
    z-index: 1; /* Coloca el pseudo-elemento sobre la imagen de fondo */
}

/* Asegura que el contenido dentro de .bg-grass esté por encima del overlay */
.bg-fairy > * {
    position: relative;
    z-index: 2;
    filter: drop-shadow(10px 10px 30px rgb(253, 107, 234)); 
}

/* Tipo Grass */
.border-grass {
    border: 8px solid #228B22; /* Verde oscuro */
    background: linear-gradient(to bottom, #A2CFA5, #8CCB8F, #6B8B5F, #2D3A24); /* Degradado verde oscuro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Fire */
.border-fire {
    border: 8px solid #FF4500; /* Rojo anaranjado brillante */
    background: linear-gradient(to bottom, #FF6347, #FF7F50, #FF4500, #4B0000); /* Degradado rojo oscuro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Water */
.border-water {
    border: 8px solid #1E90FF; /* Azul brillante */
    background: linear-gradient(to bottom, #87CEFA, #4682B4, #1E90FF, #003366); /* Degradado azul claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Electric */
.border-electric {
    border: 8px solid #FFD700; /* Dorado brillante */
    background: linear-gradient(to bottom, #FFFFE0, #FFFF00, #FFD700, #4B4B4B); /* Degradado amarillo claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Rock */
.border-rock {
    border: 8px solid #808080; /* Gris neutro */
    background: linear-gradient(to bottom, #D3D3D3, #A9A9A9, #808080, #2F4F4F); /* Degradado gris claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Psychic */
.border-psychic {
    border: 8px solid #DA70D6; /* Rosa púrpura brillante */
    background: linear-gradient(to bottom, #E6AEE6, #DA70D6, #8B008B, #3A0A3A); /* Degradado rosa claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Ice */
.border-ice {
    border: 8px solid #00CED1; /* Cian oscuro */
    background: linear-gradient(to bottom, #E0FFFF, #00FFFF, #00CED1, #004D4D); /* Degradado cian claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Dragon */
.border-dragon {
    border: 8px solid #4B0082; /* Índigo oscuro */
    background: linear-gradient(to bottom, #6A5ACD, #4B0082, #2E0854, #000000); /* Degradado índigo claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Dark */
.border-dark {
    border: 8px solid #000000; /* Negro puro */
    background: linear-gradient(to bottom, #2F4F4F, #4e4e4e, #2e2e2e, #313131); /* Degradado gris oscuro a negro puro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Fairy */
.border-fairy {
    border: 8px solid #FF69B4; /* Rosa brillante */
    background: linear-gradient(to bottom, #FFB6C1, #FF69B4, #FF1493, #6B002B); /* Degradado rosa claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Normal */
.border-normal {
    border: 8px solid #C0C0C0; /* Plateado */
    background: linear-gradient(to bottom, #F5F5F5, #C0C0C0, #A9A9A9, #404040); /* Degradado gris claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Fighting */
.border-fighting {
    border: 8px solid #C04000; /* Marrón rojizo */
    background: linear-gradient(to bottom, #F4A460, #C04000, #8B4513, #3B1F1F); /* Degradado marrón claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Flying */
.border-flying {
    border: 8px solid #87CEEB; /* Azul cielo */
    background: linear-gradient(to bottom, #B0E0E6, #87CEEB, #4682B4, #003366); /* Degradado azul claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Poison */
.border-poison {
    border: 8px solid #9932CC; /* Púrpura oscuro */
    background: linear-gradient(to bottom, #DDA0DD, #9932CC, #8B008B, #2D0042); /* Degradado púrpura claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Ground */
.border-ground {
    border: 8px solid #DEB887; /* Marrón claro */
    background: linear-gradient(to bottom, #F5DEB3, #DEB887, #D2B48C, #3B2A1F); /* Degradado marrón claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Bug */
.border-bug {
    border: 8px solid #A8B820; /* Verde oliva */
    background: linear-gradient(to bottom, #C0D9A8, #A8B820, #6B8E23, #2F4F2F); /* Degradado verde claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Ghost */
.border-ghost {
    border: 8px solid #483D8B; /* Púrpura oscuro */
    background: linear-gradient(to bottom, #6A5ACD, #483D8B, #2E0854, #1C1C1C); /* Degradado púrpura claro a negro */
    padding: 10px;
    border-radius: 10px;
}

/* Tipo Steel */
.border-steel {
    border: 8px solid #708090; /* Azul acero */
    background: linear-gradient(to bottom, #B0C4DE, #708090, #2F4F4F, #1C1C1C); /* Degradado azul claro a negro */
    padding: 10px;
    border-radius: 10px;
}


/* Tipo Grass */
.text-color-grass {
    color: #2D3A24; /* Verde más oscuro para resaltar sobre el fondo verde claro */
}

/* Tipo Fire */
.text-color-fire {
    color: #4B0000; /* Rojo oscuro para resaltar sobre el fondo rojo claro */
}

/* Tipo Water */
.text-color-water {
    color: #003366; /* Azul oscuro para resaltar sobre el fondo azul claro */
}

/* Tipo Electric */
.text-color-electric {
    color: #000000; /* Negro para resaltar sobre el fondo amarillo claro */
}

/* Tipo Psychic */
.text-color-psychic {
    color: #3A0A3A; /* Púrpura oscuro para resaltar sobre el fondo rosa claro */
}

/* Tipo Bug */
.text-color-bug {
    color: #2F4F2F; /* Verde oscuro para resaltar sobre el fondo verde claro */
}

/* Tipo Rock */
.text-color-rock {
    color: #404040; /* Gris oscuro para resaltar sobre el fondo gris claro */
}

/* Tipo Ground */
.text-color-ground {
    color: #3B2A1F; /* Marrón oscuro para resaltar sobre el fondo marrón claro */
}

/* Tipo Ice */
.text-color-ice {
    color: #004D4D; /* Verde azulado oscuro para resaltar sobre el fondo cian claro */
}

/* Tipo Dragon */
.text-color-dragon {
    color: #000000; /* Negro para resaltar sobre el fondo púrpura claro */
}

/* Tipo Fairy */
.text-color-fairy {
    color: #6B002B; /* Rosa oscuro para resaltar sobre el fondo rosa claro */
}


.text-color-dark {
    color: #ffffff; /* Rosa oscuro para resaltar sobre el fondo rosa claro */
}

/* Estilos base para los botones */
.button-base {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Tipo Normal */
.button-normal {
    background-color: #C0C0C0; /* Gris claro */
    color: #000000; /* Negro */
}
.button-normal:hover {
    background-color: #D3D3D3; /* Gris más claro */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Fire */
.button-fire {
    background-color: #FF6347; /* Rojo anaranjado */
    color: #FFFFFF; /* Blanco */
}
.button-fire:hover {
    background-color: #FF7F50; /* Rojo coral */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Water */
.button-water {
    background-color: #1E90FF; /* Azul */
    color: #FFFFFF; /* Blanco */
}
.button-water:hover {
    background-color: #4682B4; /* Azul acero */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Electric */
.button-electric {
    background-color: #FFD700; /* Amarillo dorado */
    color: #000000; /* Negro */
}
.button-electric:hover {
    background-color: #FFFFE0; /* Amarillo claro */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Grass */
.button-grass {
    background-color: #228B22; /* Verde oscuro */
    color: #FFFFFF; /* Blanco */
}
.button-grass:hover {
    background-color: #2E8B57; /* Verde mar */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Ice */
.button-ice {
    background-color: #00FFFF; /* Cian */
    color: #000000; /* Negro */
}
.button-ice:hover {
    background-color: #E0FFFF; /* Cian claro */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Fighting */
.button-fighting {
    background-color: #C04000; /* Marrón rojizo */
    color: #FFFFFF; /* Blanco */
}
.button-fighting:hover {
    background-color: #F4A460; /* Arena */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Poison */
.button-poison {
    background-color: #9932CC; /* Púrpura oscuro */
    color: #FFFFFF; /* Blanco */
}
.button-poison:hover {
    background-color: #DDA0DD; /* Púrpura claro */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Ground */
.button-ground {
    background-color: #DEB887; /* Marrón claro */
    color: #000000; /* Negro */
}
.button-ground:hover {
    background-color: #F5DEB3; /* Blanco de trigo */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Flying */
.button-flying {
    background-color: #87CEEB; /* Azul cielo */
    color: #000000; /* Negro */
}
.button-flying:hover {
    background-color: #B0E0E6; /* Azul claro */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Psychic */
.button-psychic {
    background-color: #DA70D6; /* Rosa púrpura */
    color: #FFFFFF; /* Blanco */
}
.button-psychic:hover {
    background-color: #E6AEE6; /* Rosa claro */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Bug */
.button-bug {
    background-color: #A8B820; /* Verde oliva */
    color: #FFFFFF; /* Blanco */
}
.button-bug:hover {
    background-color: #C0D9A8; /* Verde claro */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Rock */
.button-rock {
    background-color: #808080; /* Gris */
    color: #FFFFFF; /* Blanco */
}
.button-rock:hover {
    background-color: #A9A9A9; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Dragon */
.button-dragon {
    background-color: #4B0082; /* Índigo oscuro */
    color: #FFFFFF; /* Blanco */
}
.button-dragon:hover {
    background-color: #6A5ACD; /* Azul pálido */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Dark */
.button-dark {
    background-color: #000000; /* Negro */
    color: #FFFFFF; /* Blanco */
}
.button-dark:hover {
    background-color: #2F4F4F; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}

/* Tipo Fairy */
.button-fairy {
    background-color: #FF69B4; /* Rosa brillante */
    color: #000000; /* Negro */
}
.button-fairy:hover {
    background-color: #FFB6C1; /* Rosa claro */
    color: #000000; /* Negro */
    transform: scale(1.1);
}

/* Tipo Steel */
.button-steel {
    background-color: #708090; /* Azul acero */
    color: #FFFFFF; /* Blanco */
}
.button-steel:hover {
    background-color: #B0C4DE; /* Azul pálido */
    color: #FFFFFF; /* Blanco */
    transform: scale(1.1);
}
