.dropdown {
    display: flex;
    align-items: center;
    z-index: 100;
    width: 50%;
    justify-content: start;
  

    span {
        color: rgb(221, 33, 33);
        font-weight: 600;
    }
}

@media(width < 500px ) {
    .dropdown {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}